@import (once, less) "../../app-main-page/app-main-page.component.less";
* {
  outline: 0 !important;
}
.suggest_articles{
  position: absolute;
  top: 10vh;
  padding: 3vw;
  width: 74vw;
  display: flex;
  flex-direction: column;
  background: #d3e6ff;
}
.suggest_articles__table{

}
.table__row{
  &_main {
    color: @shadow-color;
    font-size: 3vh;
  }
}
.row__item{
  padding: 2vh;

}
.suggest_articles__button_close{
  .radius(2vh);
  color: @white-color;
  width: 10vw;
  height: 5vh;
  background: @shadow-color;
}
.suggest_articles__header{
  padding: 2vh;
  font-size: 4.5vh;
  color: @shadow-color;
}
.table__option_button_delete{
  margin: 1vh;
  padding: 1vh;
  .radius(1vh);
  color: white;
  background: @error-color;
}
.table__option_button_accept{
  margin: 1vh;
  color: @white-color;
  padding: 1vh;
  .radius(1vh);
  background: @warning-good-color;
}
.table__option_button_read{
  padding: 1vh;
  .radius(1vh);
  margin: 1vh;
  color: white;
  background: @shadow-color;
}
.table__unblock_button{
  margin: 1vh;
  padding: 1vh;
  .radius(1vh);
  color: @white-color;
  background: @warning-good-color;
}

