@import (once, less) "../app-main-page.component.less";
  .radius(@radius:6px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
  }
  input{
    outline: none;
  }
  .item{
    padding:0.2vh;
    margin-top: 1.3vh;
    .radius(2vh);
    color:@white-color;
    background: @theme-color;
    &:focus {
      color: @focus-color;
      background: @white-color;
    }
  }
  .error_message{
    font-size: 1.7vh;
    text-align: center;
    color: @error-color;
  }
  .warning_message{
    &_easy{
      color: @warning-bad-color;
    }
    &_hard{
      color: @warning-good-color;
    }
  }
  .form-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-register__submit_button {
    flex-basis: 5vw;
    color: white;
    font-weight: bold;
    margin-top: 2vh;
    .radius(2vh);
    height: 3vh;
    border: none;
    outline: none;
    background: @warning-good-color;
    cursor: pointer;

  }
  ::-webkit-input-placeholder {color: @white-color;}/* webkit */
  ::-moz-placeholder          {color:@white-color; }/* Firefox 19+ */
  :-moz-placeholder           {color:@white-color; }/* Firefox 18- */
  :-ms-input-placeholder      {color:@white-color; }
/* IE */

