<form class="add_form" [formGroup]="add_user_form" (ngSubmit)="Submit_form_register()">
<button class="add_form__close_bottom" (click)="this.close_add_form();">close add form</button>
  <table>
    <tr>
      <td>
        <div class="add_form__item"><input type="text" class="item" formControlName="admin" placeholder="admin"></div>
        <div class="error_message" *ngIf="this.add_user_form.get('admin').getError('pattern') && this.add_user_form.controls['admin'].touched">
          use 1 - admin, other numbers - common user</div>
        <div class="error_message" *ngIf="this.add_user_form.get('admin').getError('required') && this.add_user_form.controls['admin'].touched">
          field is required</div>
      </td>

      <td>
  <div class="add_form__item"><input type="text" class="item" formControlName="name" placeholder="name"></div>
  <div class="error_message" *ngIf="this.add_user_form.get('name').getError('pattern') && this.add_user_form.controls['name'].touched">
    use english letters</div>
  <div class="error_message" *ngIf="this.add_user_form.get('name').getError('required') && this.add_user_form.controls['name'].touched">
    field is required</div>
      </td>

      <td>
  <div class="add_form__item"><input type="text" class="item" formControlName="surname" placeholder="surname"></div>
  <div class="error_message" *ngIf="this.add_user_form.get('surname').getError('pattern') && this.add_user_form.controls['surname'].touched">
    use english letters</div>
  <div class="error_message" *ngIf="this.add_user_form.get('surname').getError('required') && this.add_user_form.controls['surname'].touched">
    field is required</div>
      </td>
  <div class="add_form__item"><input type="text" class="item" formControlName="login" placeholder="login"></div>
  <div class="error_message" *ngIf="this.add_user_form.get('login').getError('loginExist') && this.add_user_form.controls['login'].touched">
    {{this.add_user_form.get('login').getError('loginExist')}}
  </div>
  <div class="add_form" *ngIf="this.add_user_form.get('login').getError('pattern') && this.add_user_form.controls['login'].touched">
    use english letters & numbers</div>
  <div class="error_message" *ngIf="this.add_user_form.get('login').getError('required') && this.add_user_form.controls['login'].touched">
    field is required</div>

      <td>
  <div class="add_form__item"><input type="text" class="item" formControlName="email" placeholder="email"></div>
  <div class="error_message" *ngIf="this.add_user_form.get('email').getError('emailExist') && this.add_user_form.controls['email'].touched">
    {{this.register_form.get('email').getError('emailExist')}}
  </div>
  <div class="error_message" *ngIf="this.add_user_form.get('email').getError('required') && this.add_user_form.controls['email'].touched">
    field is required
  </div>
  <div class="error_message" *ngIf="this.add_user_form.get('email').getError('email') && this.add_user_form.controls['email'].touched">
    wrong format
  </div>
      </td>

      <td>
  <div class="add_form__item"><input type="password" class="item" formControlName="password" placeholder="password"></div>
  <div class="error_message" *ngIf="Get_password_error('password')">
    {{this.add_user_form.get('password').getError('invalidPassword')}}
  </div>
  <div class="error_message" *ngIf="this.add_user_form.get('password').getError('required') && this.add_user_form.controls['password'].touched">
    field is required
  </div>
  <div class="warning_message" [ngSwitch]="this.difficult_password">
    <div class="warning_message_easy" *ngSwitchCase="1">too easy password</div>
    <div class="warning_message_hard" *ngSwitchCase="2">good password</div>
  </div>

      <td>
  <div class="add_form__item"><input type="password" class="item" formControlName="password_check" placeholder="repeat password"></div>
  <div class="error_message" *ngIf="Get_password_error('password_check')">
    {{this.add_user_form.get('password_check').getError('invalidPassword')}}
  </div>
  <div class="error_message" *ngIf="this.add_user_form.get('password_check').getError('required') && this.add_user_form.controls['password_check'].touched">
    field is required
  </div>
    </td>
    </tr>
  </table>
  <button *ngIf="Check_all_validators()" type="submit" class="add_form__submit_button" >add</button>
</form>
