@import (once, less) "../../../app-main-page/app-main-page.component.less";
* {
  outline: 0 !important;
}
input{
  outline: none;
}
.item{
  padding:0.2vh;
  margin-top: 1.3vh;
  .radius(2vh);
  &:focus {
    color: @shadow-color;
    background: @white-color;
  }
}
.error_message{
  font-size: 1.7vh;
  text-align: center;
  color: @error-color;
}
.warning_message{
  &_easy{
    color: @warning-bad-color;
  }
  &_hard{
    color: @warning-good-color;
  }
}
.add_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add_form__submit_button {
  .radius(2vh);
  color: white;
  width: 10vw;
  height: 5vh;
  background: @shadow-color;

}
.add_form__close_bottom{
  .radius(2vh);
  color: @white-color;
  width: 10vw;
  height: 5vh;
  background: @shadow-color;
}
::-webkit-input-placeholder {color: @black-color;}/* webkit */
::-moz-placeholder          {color: @black-color; }/* Firefox 19+ */
:-moz-placeholder           {color: @black-color; }/* Firefox 18- */
:-ms-input-placeholder      {color: @black-color; }/* IE */
