<div class="main-page">
  <div class="main-page__header">
    <div class="header_name-blog">Front-Man</div>
  </div>
  <div class="content">
    <div class="content__container">
      <ul class="content__container__list">
        <li class="content__container__list__item">Hello, world !</li>
        <li class="content__container__list__item">Hello, Netcracker !</li>
        <li class="content__container__list__item">Hello, users !</li>
        <li class="content__container__list__item">Hello, everybody !</li>
      </ul>
    </div>
  </div>
  <div class="main-page__body">
    <div ngSwitch="{{change_form_flag}}" class="body__form-authorization">
      <div *ngSwitchCase="'0'">
        <app-autorization-form >
        </app-autorization-form>
      </div>
      <div *ngSwitchCase="'1'">
        <app-register-form>
        </app-register-form>
      </div>
      <div *ngSwitchDefault>
        Error
      </div>
      <div class="form__button">
      <button  [style.background]="color_button[0]" (click)="Change_form(0)" class="form__button_item1">Login&nbsp;&nbsp;&nbsp;</button>
      <button  [style.background]="color_button[1]" (click)="Change_form(1)" class="form__button_item2">Register</button>
      </div>
    </div>
  </div>

  <div class="main-page__footer">
    <a href="https://vk.com/borisssta" class="footer__href">&nbsp;&nbsp;&nbsp;about&nbsp;</a>
    <a href="https://vk.com/borisssta" class="footer__href">feedback&nbsp;</a>
    <a href="https://vk.com/borisssta" class="footer__href">contacts&nbsp;</a>
  </div>
</div>
