.article{
  position: absolute;
  top: 10vh;
}

.article_content{
  font-size: 3vh;
  background: #698ac2;
  color: white;
  padding-top: 7vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 4vh;
  width: 60vw;
}

.article_header{
  width: 76vw;
  color: white;
  font-size: 4vh;
  padding-top: 3vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background: #094773;
}

.close_article_bottom{
  font-size: 4.5vh;
  cursor: pointer;
  position: absolute;
  right: 5vw;
}
.close_article_bottom:hover{
  background: #ffb396;
}
